.container {
  max-width: 1200px;
  margin: 0 auto;
}

.resultsContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  margin-top: 2.5rem;
}

.filterForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.jobs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
